
    <!-- Headings -->
    <h1>Heading 1</h1>
    <h2>Heading 2</h2>
    <h3>Heading 3</h3>
    <h4>Heading 4</h4>
    <h5>Heading 5</h5>
    <h6>Heading 6</h6>

    <!-- Paragraph -->
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, neque! Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Id, neque!Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, neque!Lorem ipsum dolor
        sit amet consectetur adipisicing elit. Id, neque!Lorem ipsum dolor sit amet consectetur adipisicing elit. Id,
        neque!</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, neque! Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Id, neque!Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, neque!Lorem ipsum dolor
        sit amet consectetur adipisicing elit. Id, neque!Lorem ipsum dolor sit amet consectetur adipisicing elit. Id,
        neque!</p>

    <!-- Links -->
    <a href="http://www.google.com">Google</a>

    <a href="tel:868645875"> Telefono numeris</a>

    <a href="mailto:dominykasvcs@gmail.com">Elektroninis paštas</a>


    <!-- Unordered List -->
    <ul>
        <li>List item</li>
        <li>List item</li>
        <li>List item</li>
        <li>List item</li>
    </ul>


    <!-- Ordered List -->
    <ol>
        <li>List item</li>
        <li>List item</li>
        <li>List item</li>
        <li>List item</li>
    </ol>

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Age</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Dominykas Lukšys</td>
                <td>dominykasvcs@gmail.com</td>
                <td>26</td>
            </tr>
            <tr>
                <td>Vardenis Pavardenis</td>
                <td>dominykasvcs@gmail.com</td>
                <td>26</td>
            </tr>
        </tbody>
    </table>

    <form action="">
        <div>
            <label for="">First Name</label>
            <input type="text">
        </div>

        <div>
            <label>Second name</label>
            <input type="text">
        </div>

        <div>
            <label>Gender: </label>
            <select>
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="other">Other</option>
            </select>
        </div>

        <div>
            <label>Age</label>
            <input type="number">
        </div>

        <div>
            <label>Email</label>
            <input type="email" required>
        </div>

        <div>
            <label for="">Message</label>
            <textarea></textarea>
        </div>

        <button type="submit">Submit</button>
    </form>