@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}


.krastine span{
    color: orange;
}
.krastine {
    border: 10px #ccc solid;
    padding: 15px;
    justify-content: center;
    display: flex;
    margin-left: 15px;
    width: 400px;
    
}
body{
    font-family: 'Arvo', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    
    
    
    color:rgb(0, 0, 0);
    
}
figure{
    margin-left: 50px;
    margin-top: 15px;
}

.apacia{
    margin-left: 5px;
}